/* CSS RESET-------------------------------------- */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* BASE STYLES------------------------------------ */

body {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

:root {
  --primary-color: #ab00ff;
  --accent-color-1: #007bff;
  --accent-color-3: #e9e3e3;
}

img {
  width: 100%;
}

a,
ul {
  text-decoration: none;
  list-style-type: none;
}

section img {
  width: 100%;
}

/* LAYOUT STYLES---------------------------------- */

.header {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  width: 100%;
  margin: 0.75rem 0.75rem;
  justify-content: space-between;
}

.navbar__hamburger {
  display: flex;
  flex-direction: column;
}

.hero-section {
  background-image: url("./zenith-assets/images/backgrounds/hero-bg-texture.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.features__card {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.15);
  width: 90%;
  margin: auto;
}

/* BLOCK STYLES----------------------------------- */

.bar-top {
  border-top: 3px solid #ab00ff;
  width: 36px;
  margin-bottom: 0.5em;
  border-radius: 80rem;
}

.bar-bottom {
  border-bottom: 3px solid #ab00ff;
  width: 28px;
  margin: 0.5em;
  border-radius: 80rem;
}

.zenith-logo {
  width: 45%;
}

.hero-section__inboundcard {
  width: 90%;
  margin: auto;
}

.hero-section__inboundcard img {
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.15);
  margin: auto;
}

.card1,
.card2,
.card3 {
  display: flex;
  flex-direction: row;
}

/* DESKTOP---------------------------------------- */
