/* CSS RESET-------------------------------------- */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* BASE STYLES------------------------------------ */

body {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

:root {
  --primary-color: #ab00ff;
  --accent-color-1: #007bff;
  --accent-color-3: #e9e3e3;
}

img {
  width: 100%;
}

a,
ul {
  text-decoration: none;
  list-style-type: none;
  color: #222222;
  padding: 0.5em;
}

ul {
  margin: 0;
}

input,
label {
  opacity: 0.4;
  color: #f8f8f8;
  background: #f8f8f8;
  border-radius: 3em;
}

/* LAYOUT STYLES---------------------------------- */

.header {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  width: 100%;
  padding: 1rem 1rem;
  justify-content: space-between;
}

.navbar__list-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar__hamburger {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.hero-section {
  background-image: url("./zenith-assets/images/backgrounds/hero-bg-texture.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-heading {
  display: flex;
  text-align: left;
  margin-right: 0.25em;
  padding-left: 0.5em;
  font-weight: 900;
}

.gradient-text {
  background-image: linear-gradient(-45deg, #ab00ff, #007bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  /* margin: auto; */
  font-size: 1.5rem;
  text-align: center;
}

.features__card img {
  width: 3em;
  padding: 0.5em 0.5em;
}

.features h2 {
  font-size: 1.15rem;
}

.card1,
.card2,
.card3 {
  display: flex;
  justify-content: space-between;
  border-radius: 0.75em;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.15);
  margin-bottom: 1.25em;
}

.features__card {
  display: grid;
  max-width: 90rem;
  grid-template-columns: 1fr;
  margin: auto;
}

.products {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.products__logo-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "s t"
    "g j"
    "a a";
  margin-bottom: 4em;
  margin-top: 4em;
}

.products__images {
  width: 6em;
}
.slack {
  grid-area: s;
  justify-self: center;
}
.trello {
  grid-area: t;
  justify-self: center;
}
.google {
  grid-area: g;
  justify-self: right;
}
.jira {
  grid-area: j;
  justify-self: center;
}
.asana {
  grid-area: a;
  justify-self: center;
}

.footer {
  background-image: linear-gradient(-120deg, #ab00ff, #007bff);
  margin-bottom: 0em;
  width: 100%;
  padding-bottom: 2em;
}

.footer__list {
  padding-top: 8em;
}

.email {
  display: flex;
  justify-content: center;
  width: 75%;
  margin-bottom: 10em;
  margin: auto;
}

/* BLOCK STYLES----------------------------------- */

.bar-top {
  border-top: 3px solid #ab00ff;
  width: 36px;
  margin-bottom: 0.5em;
  border-radius: 80em;
}

.bar-bottom {
  border-bottom: 3px solid #ab00ff;
  width: 28px;
  margin: 0.5em;
  border-radius: 80em;
}

.zenith-logo {
  width: 45%;
}

.navbar__list-button {
  background-image: linear-gradient(-120deg, #ab00ff, #007bff);
  border-radius: 25px;
}

.navbar__list-button a {
  color: #f8f8f8;
}

/* .navbar__list {
  color: #222222;
} */

.hero-section__inboundcard {
  margin: auto;
  width: 60vw;
}

.hero-section__inboundcard img {
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.15);
  /* margin: auto; */
}

.features__card h2 {
  padding-left: 1em;
  text-align: left;
}

.features__dashboard {
  width: 90%;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.15);
  margin: auto;
  border-radius: 0.75em;
  margin-bottom: 3.5em;
}

.footer__header {
  color: #f8f8f8;
  margin-top: 0em;
  text-align: center;
  padding-top: 2em;
}

.download-btn {
  /* position: relative; */
  background-color: #f8f8f8;
  border-radius: 3em;
  margin-left: 0.75em;
}

.footer__list li {
  text-align: right;
  padding-right: 0.75em;
}

.footer__list a {
  position: relative;
  text-align: right;
  color: #f8f8f8;
  padding-top: 2em;
}

/* DESKTOP---------------------------------------- */

@media (max-width: 560px) {
  .navbar__list {
    display: none;
  }
}

@media (min-width: 559px) {
  .main-heading {
    width: 12em;
  }
  .main-heading,
  .gradient-text {
    font-size: 3rem;
    font-weight: bold;
  }
  .zenith-logo {
    width: 25%;
  }
  .navbar__list {
    display: flex;
    justify-content: space-between;
  }
  .navbar__list:nth-child(3) {
    background-color: #f8f8f8;
    border-radius: 0.75em;
    width: 6em;
  }
  .navbar__list-link {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
  }

  .navbar__hamburger {
    display: none;
  }

  .card1,
  .card2,
  .card3 {
    margin: 0.75em;
    margin-bottom: 3em;
  }

  .features__card {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .products__logo-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "s t a j g";
    margin-bottom: 4em;
    margin-top: 4em;
    margin: auto;
  }

  .footer__list {
    padding-top: 2em;
  }
}
