/* CSS RESET-------------------------------------- */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* BASE STYLES------------------------------------ */

body {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

:root {
  --primary-color: #ab00ff;
  --accent-color-1: #007bff;
  --accent-color-3: #e9e3e3;
}

img {
  width: 100%;
}

a,
ul {
  text-decoration: none;
  list-style-type: none;
}

ul {
  margin: 0;
}

.features img {
  width: 100%;
  padding: 0.5em 0.5em;
}

/* LAYOUT STYLES---------------------------------- */

.header {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  width: 100%;
  padding: 1rem 1rem;
  justify-content: space-between;
}

.navbar__hamburger {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.hero-section {
  background-image: url("./zenith-assets/images/backgrounds/hero-bg-texture.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.features__card {
  display: flex;
  justify-content: space-between;
  border-radius: 0.75em;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.15);
  width: 90%;
  margin: auto;
  margin-bottom: 0.65em;
  vertical-align: middle;
}

.gradient-text {
  background-image: linear-gradient(-45deg, #ab00ff, #007bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  margin: auto;
  font-size: 1.5rem;
  text-align: center;
}

.products {
  width: 100%;
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.products__images {
  width: 100%;
  display: grid;
  grid-template-columns: 33% auto 33%;
}

.footer {
  background-image: linear-gradient(-120deg, #ab00ff, #007bff);
  margin-bottom: 0em;
  width: 100%;
  padding-bottom: 2em;
}

.email {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10em;
}

/* BLOCK STYLES----------------------------------- */

.bar-top {
  border-top: 3px solid #ab00ff;
  width: 36px;
  margin-bottom: 0.5em;
  border-radius: 80em;
}

.bar-bottom {
  border-bottom: 3px solid #ab00ff;
  width: 28px;
  margin: 0.5em;
  border-radius: 80em;
}

.zenith-logo {
  width: 45%;
}

.hero-section__inboundcard {
  width: 90%;
  margin: auto;
}

.hero-section__inboundcard img {
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.15);
  margin: auto;
}

.features__card h2 {
  padding-left: 1em;
  text-align: left;
}

.features__images {
  width: 90%;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.15);
  margin: auto;
  border-radius: 0.75em;
}

.footer__header {
  color: #f8f8f8;
  margin-top: 0em;
  text-align: center;
}

input,
label {
  opacity: 0.4;
  color: #f8f8f8;
  background: #f8f8f8;
  border-radius: 3em;
}

.download-btn {
  position: relative;
  background-color: #f8f8f8;
  border-radius: 3em;
}

.footer__list li {
  text-align: right;
  padding-right: 0.65em;
}

.footer__list a {
  position: relative;
  text-align: right;
  color: #f8f8f8;
  margin-top: 0.35em;
}

/* DESKTOP---------------------------------------- */
